.DetailContainer{
    background: rgba(255, 0, 0, 0.7);
    height: 615px;
    width: 700px;
    display:inline-block;
    align-items:flex-start;
    margin-left: 0% ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    
}


.name{
    font-size: 35px;
    color: rgb(255, 208, 0);
    margin-top: 0px; 
    font-family:Verdana;
       
    
}
.image{
    width: 310px;
    height: auto;
    margin-top: 0px;
}

.tipos{
    color: rgb(196, 0, 0);
    font-size: 25px;
    margin-top: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}


.Estadisticas{
    color: rgb(196, 0, 0);
    font-size: 30px;
    margin-top: -20px;
    font-family:Verdana;
}
.Estadisticas2{
    color: rgb(255, 208, 0);
    font-size: 20px;
    margin-top: -30px;
    font-family:Verdana;
}
.id{
    color: rgb(204, 0, 0);
    font-size: 20px;
    margin-top: 0px;
    font-family:Verdana;
}
.ayp{
    color: rgb(255, 208, 0);
    font-size: 20px;
    margin-top: -20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.volver {
    font-style:normal;
    padding:5px 5px;
    text-decoration:none;  
    background-color:white;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    color:red;
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    
    padding:5px 30px;
    text-decoration:none;
   
}
.volver:hover{
    background:linear-gradient(to bottom, #ff0000 5%, #b81111 100%);
    background-color:#d42a2a;
    cursor:pointer;
    color:white;
    }

 .gif{
    width: 100%;
    height: 100%;
 }