.CardContainer{
    background: rgba(255, 0, 0, 0.7);
    width: 80%;
    height: 80%;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    margin-left: 3%;

}
.image{
width: 50%;
height:auto;
margin-top: -30px;
}

.name{
color: rgb(248, 214, 21);
font-size: 25px;
margin-top: 0px;
    
}
.texto{
color: rgb(248, 93, 21);
font-size: 20px;
margin-top: 0px;
}
.tipo{
    color: rgb(248, 214, 21);
    font-size: 20px;
    margin-top: 0px;
    }

    